/movies_content_autoencoder.pt
/movie_content_vectors_train.npz
/movie_content_vectors_test.npz
/metrics.json
/train_metrics.json
/eval_metrics.json
/movie_clusters.pkl
/movies_content_autoencoder_raw.pt
/train_metrics_raw.json
/movie_content_vectors_train_raw.npz
/movie_content_vectors_test_raw.npz
/eval_metrics_raw.json
/movie_clusters_raw.pkl
/movie_mappings.json
/metrics_raw.json
/model_movies_full_vectors_raw.npz
/movies_vectors_train_raw.npz
/movies_vectors_test_raw.npz
/cluster_metrics_raw.json
